%li.trophy.well
  .trophy-data
    %i.img-polaroid.icon-trophy
    %h4= trophy.title
    trophy.description
  %ul.winners
    - trophy.winners[0..25].each do |winner|
      %li.winner
        %i.img-polaroid.icon-user
