@import 'bootstrap';
@import 'font-awesome';

body {
  padding-top: 60px;
}

.trophy {
  list-style-type: none;
  margin-bottom: 40px;

  .trophy-data {
    margin-top: -20px;

    a {
      color: black;
      text-decoration: none;
    }

    .icon-trophy {
      float: left;
      margin-right: 25px;
      line-height: 140px;
      font-size: 140px;
      width: 140px;
      height: 140px;
      margin-top: -15px;
    }
  }

  .winners {
    list-style-type: none;
    margin-top: 20px;

    .winner {
      display: inline;

      .icon-user {
        line-height: 25px;
        font-size: 25px;
        width: 25px;
        height: 25px;
      }
    }

    .more-winners {
      display: inline;
    }
  }
}
